python-decouple==3.8
streamlit==1.40.0
psycopg2-binary==2.9.10
streamlit-cookies-manager==0.2.0
langchain_experimental==0.3.3
cffi==1.17.1
langchain==0.3.7
langchain-community==0.3.5
langchain-core==0.3.15
langchain-gigachat==0.3.0
langchain-text-splitters==0.3.2
gigachat==0.1.35